<% if @searched_user_codetools.present? %>
  <%= render 'searched_codetools', searched_codetools: @searched_user_codetools, title: "My Codetools" %>
<% end %>

<% if @searched_friends_public_codetools.present? %>
  <%= render 'searched_codetools', searched_codetools: @searched_friends_public_codetools, title: "My Friends Codetools" %>
<% end %>

<% if @searched_user_codetools.blank? && @searched_friends_public_codetools.blank? %>
  <div class="blank-search">There are no codetools containing the term(s) <%= params[:search] %>.</div>
<% end %>