<% if @searched_codetools.present? %>
  <div class='h3 text-center codetool-form'>Searched codetools</div>
  <ul>
    <% @searched_codetools.each do |codetool| %>
      <%= render 'codetool_item', codetool: codetool, drawer: codetool.drawer %>
    <% end %>
  </ul>
<% else %>
    <p class="blank-search">There are no codetools containing the term(s) <%= params[:search] %>.</p>
<% end %>
