<div class="detail-friends">
  <div class="row">
    <div class="col-sm-6">
      <h1 class="drawer-detail-title"><%= octicon "organization", height: 42 %> Friends</h1>
      <ul>
        <% @friends.each do |friend| %>
          <li><%= friend.friend.username %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
