<div class="drawer-list">
  <h3 class='text-center'>Drawers list</h3>
  <% if @drawers.empty? %>
    <h1 id="no-drawers">No drawers created</h1>
  <% else %>
    <% @drawers.each do |drawer| %>
      <div class="card drawer-index">
        <div class="card-body">
          <div class="drawer-title">
            <%= link_to drawer.title, drawer_path(drawer) %>
          </div>
          <small class="drawer-description">
            <%= truncate(drawer.description, length: 140) %>
          </small><br>
          <small class="drawer-author">
            Created by: <%= drawer.user.email %>
          </small>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
