<div class="detail-friends">
  <div class="row">
    <div class="col-12 d-flex flex-row">
      <div class="h1"><%= octicon "bell", height: 36 %> Last Notifications </div>
      <div class="col text-right" style="float: right;">
        <%= link_to notifications_path, method: :delete, remote: :true,
                                        class: "clear-notifications btn btn-outline-dark #{ 'disabled' unless @last_notifications.present?}",
                                        title: "Clear all", data: { confirm: "Are you sure you want to clear all Notifications?" } do %>
          <%= octicon "browser", height: 22 %> Clear
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group list-group-flush">
        <% if @last_notifications.any? %>
          <% @last_notifications.each do |notification| %>
            <li class="list-group-item list-group-item-light"><%= parse_notification(notification) %></li>
          <% end %>
        <% else %>
          There are no notifications
        <% end %>
      </ul>

    </div>
  </div>
</div>