<div class="row">
  <div class="col-12">
    <% flash.each do |key, message| %>
      <div class="text-center alert alert-<%= key %>">
        <%= message %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </div>
</div>
