<div class="ribbon">
  <%= link_to 'https://github.com/jrsahuquillo/CodeDrawerApp', target: '_blank', title: 'Fork me on Github' do %>
        <%= octicon 'mark-github', height: 36 %>
      <% end %>
</div>