<div class="detail-friends">
  <div class="row">
    <div class="col-sm-6">
      <div class="h1 drawer-detail-title"><%= octicon "organization", height: 42 %> Friends Drawer</div>
    </div>
  </div>
</div>

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-12">
      <div id="codetools-list" class="col-md-12">
        <% if @public_codetools.any? %>
          <% @public_codetools.each do |codetool| %>
            <%= render './codetools/codetool_item', codetool: codetool %>
          <% end %>
        <% else %>
          There are no codetools to show.
        <% end %>
      </div>

    </div>
  </div>
</div>
