// Codetools
@import 'settings';

.codetool-form {
  margin: 20px;
}

.markdown-link {
  color: $grey3;
  .octicon {
    fill: currentColor;
  }
  &:hover {
    color: $grey2;
  }
}

.codetool-breadcrumb {
  margin: 20px;
  padding: 1rem 0;
}

.card-body {
  padding: 1rem !important;
}

.card.mt-2.new-codetool {
  border: $shadow2 4px dashed;
  border-radius: 0.25rem;
  margin: 0 1rem;
  a:hover {
      text-decoration: inherit;
  }
}
.card-body:hover {
  background: $shadow1 !important;
}

.codetools-header {
  .card{
    border: none;
  }

  .new-codetool-icon {
    color: $grey3;
    .octicon {
      fill: currentColor;
    }
    &:hover{
      color: $grey1;
    }
    h6 {
      padding-top: 16px;
    }
  }
}

.p-2.form-footer {
  padding: 1rem 1rem 1rem 0 !important;
  .form-check {
    padding-left: 0 !important;
  }
}

.public-icon, .favorite-icon, .nil-icon {
  margin: 0 0.8rem;
}

.nil-icon {
  width: 1rem;
}

.dnd-codetool-icon {
  opacity: 0.5;
}

.show-codetool, .new-codetool {
  color: inherit !important; /* blue colors for links too */
  text-decoration: inherit !important; /* no underline */

  .codetool-header {
    display: flex;
    justify-content: space-between;

    .rotated{
      transform: rotate(-180deg);
      transition: all 0.5s;
      }

    .toggle-codetool-content-icon {
      padding: 0 0.8rem;
    }
  }
}
#codetools-list .codetool-title {
  // width: 90%;
  cursor: move;
}
.codetool-content {
  border-top: 0.5px solid $border-light;
  padding: 8px;
  .highlight.plaintext {
    padding: 0.5rem;
    background-color: $shadow2;
  }
}

.codetool-footer {
  display: flex;
  justify-content: flex-end;
}

.detail-codetool-icon,
.link-codetool-icon,
.edit-codetool-icon,
.delete-codetool-icon,
.codetool-unpinned,
.codetool-pinned {
  padding-left: 1.5rem;
  color: $grey3;
  transition: transform .2s;
  &:hover{
      color: $grey1;
      transform: scale(1.2);
  }
}

.octicon-chevron-down {
  transition: all 0.5s;
}

.blank-search {
  margin: 2rem;
}

.friend-codetool-title {
  color: $grey3;
  a {
    color: $grey1;
    &:hover {
      color: $grey1;
      font-weight: bold;
      text-decoration: none;
    }
  }
  &.card-title{
    min-height: 3.5rem;
    margin-bottom: 0 !important;
  }

}

.total-public-codetools {
  margin-top: 1rem;
}

.codetool-unpinned {
  color: $grey3;
  opacity: 0.3;
}

.codetool-pinned {
  color: $grey1;
}

img[src*="#wide"] {
   width:100%;
   height:100%;
}