// Place all the styles related to the codetools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show-codetool {
    color: inherit !important; /* blue colors for links too */
    text-decoration: inherit !important; /* no underline */
}

.card-body:hover {
    background: #F6F8FA !important;
}

.new-codetool-icon {
    padding: 8px;
    color: #586069;
    .octicon {
        fill: currentColor;
    }
    &:hover{
        padding: 8px;
        color: #24292e;
    }
}

.codetool-title{
    display: flex;
    justify-content: space-between;
}
.codetool-footer {
    display: flex;
    justify-content: flex-end;
}

.edit-codetool-icon,
.delete-codetool-icon {
    padding-right: 8px;
    color: #586069;
    .octicon {
        fill: currentColor;
    }
    &:hover{
        color: #24292e;
    }
}

.octicon-chevron-down {
    transition: all 0.5s;
}
.rotated{
    transform: rotate(-180deg);
    transition: all 0.5s;
}
