// Place all the styles related to the codetools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.codetool-form {
    margin: 20px;
}

.card-body {
    padding: 1rem !important;
}

.card.mt-2.new-codetool {
    border: #dfdfdf 4px dashed;
    border-radius: 0.25rem;
    margin: 0 1rem;
    a:hover {
        text-decoration: inherit;
    }
}
.card-body:hover {
    background: #F6F8FA !important;
}

.codetools-header {
    .card{
        border: none;
    }

    .new-codetool-icon {
        color: #586069;
        .octicon {
            fill: currentColor;
        }
        &:hover{
            color: #24292e;
        }
        h6 {
            padding-top: 16px;
        }
    }
}

.public-check {
    margin: 1rem 0;
}

.public-icon {
    margin: 0 1rem;
}

.show-codetool, .new-codetool {
    color: inherit !important; /* blue colors for links too */
    text-decoration: inherit !important; /* no underline */

    .codetool-header {
        display: flex;
        justify-content: space-between;

        .rotated{
            transform: rotate(-180deg);
            transition: all 0.5s;
        }
    }
}
#codetools-list .codetool-title {
    width: 90%;
    cursor: move;
}
.codetool-content {
    border-top: 0.5px solid #dee2e6;
    padding: 8px;
}

.codetool-footer {
    display: flex;
    justify-content: flex-end;
}

.edit-codetool-icon,
.delete-codetool-icon {
    padding-left: 8px;
    color: #586069;
    &:hover{
        color: #24292e;
    }
}

.octicon-chevron-down {
    transition: all 0.5s;
}

.blank-search {
    margin: 2rem;
}
