// Devise CSS
@import 'settings';

.devise-container {
    max-width: 50%;
    margin-left: 25%;
}

.sign-link a {
    color: $accent-color;
    &:hover {
        color: $accent-color;
    }

}

#error_explanation,
.alert-alert {
    background-color: #f2dede;
    color: #a94442;
    text-align: left;
    padding: 5px 20px;
    margin-bottom: 30px;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-notice {
    background-color: #d4edda;
    color: #155724;
    text-align: left;
    padding: 5px 20px;
    margin-bottom: 30px;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

#error_explanation h2 {
    font-size: 150%;
}

.log-in, .sign-up,
.forgot-password,
.change-password {
    padding-bottom: 1rem;
}

.oauth-btn {
    padding-top: 1rem;
}
.sign-link {
    text-align: center;
}
.or-oauth-line {
    padding: 2rem;
    position: relative;
    overflow: hidden;
    &:before, &:after {
        position: absolute;
        top: 51%;
        width: 50%;
        height: 1px;
        content: '\a0';
        background-color: #51565B;
    }
    &:before {
        margin-left: -50%;
    }
}

a.github-oauth {
    color: white;
    font-size: 1rem;
    border-radius: 2rem !important;
    background-color: #444 !important;
    &:hover {
        background-color: #51565B !important;
        color: white;
    }
    
    .octicon {
        margin-right: 1rem;
    }
}

.sign-up-here,
.log-in-here {
    padding-top: 1rem;
    .sign-up-link,
    .log-in-link {
        color: $accent-color;
        text-decoration: underline;
    }
}


@media only screen and (max-width: 768px) {
    .devise-container {
        max-width: 100%;
        margin-left: 0;
    }
}
