// Devise CSS

.sign-link a {
    color: #51565B;
}

#error_explanation, .alert-alert {
    background-color: #f2dede;
    color: #a94442;
    text-align: left;
    padding: 5px 20px;
    margin-bottom: 30px;
}

#error_explanation h2 {
    font-size: 150%;
}
