// Place all the styles related to the drawers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sidebar {
  float: left;
   min-width: 25%;
}
.new-drawer-button {
  float: left;
  background-color: #FFC104;
  font-size: 0.8rem;
  margin-top: 2rem;
  margin-left: 2rem;
  border-radius: 0.25rem;
  .drawer-item-menu {
    color: #393D41;
  }
  &:hover{
    .drawer-item-menu {
      color: white;
    }
  }

}

.new-drawer-text {
  padding-left: 0.5rem;
}

.drawers-sidebar {
  float: left;
  background-color: #3F4448;
  font-size: 0.8rem;
  margin-top: 2rem;
  margin-left: 2rem;
  border-radius: 0.25rem;
}

.drawer-item-sidebar {
  padding: 0.2rem 0;
  .card {
    background-color: #3F4448 !important;
    .card-header {
      padding: 0.75rem 0;
    }
    .card-body {
      padding: 0 !important;
    }
    .card-body:hover {
      background-color: #3F4448 !important;
    }
    .btn-link {
      color: white;
      text-decoration: none;
    }
  }
}

.drawer-item-menu{
  padding: 0.5rem 0.2rem 0 0.8rem;
  .drawer-list-icon {
    opacity: 0.5;
  }
}

a.drawer-link-sidebar {
  color: white !important;
  text-decoration: inherit !important;
}

.drawer-item-sidebar.active,
.drawer-item-sidebar:hover {
  background-color: #586069;
  &:first-child {
    border-radius: 0.25rem 0.25rem 0 0;
  }
  &:last-child {
    border-radius: 0 0.25rem 0.25rem;
  }
}

.new-drawer-item:hover {
  border-radius:  0.25rem !important;
}

.drawer-form {
  margin: 12px 0;
}

.card.drawer-list.new-drawer {
  border: none;
  background-color: #FFC104;
  border-radius: 0.25rem;
}

.card.drawer-index,
.detail-drawer  {
  padding-top: 2rem;
}

.drawer-list  {
  margin-top: 0.5rem;
}

.drawer-list a {
  color: inherit !important; /* blue colors for links too */
}

.drawer-link {
  padding: 0 12px ;
  color: #586069;
}

.edit-drawer-icon,
.delete-drawer-icon {
  padding-right: 8px;
  color: #586069;
  .octicon {
      fill: currentColor;
  }
  &:hover{
      color: #24292e;
  }
}

#collaborated-drawers-list {

  .rotated{
      transform: rotate(-180deg);
      transition: all 0.5s;
  }
}

.collaborated-drawer-icon {
  padding-right: 1rem;
}
