// Drawers
@import 'settings';

#sidebar {
  float: left;
   min-width: 25%;
}
.new-drawer-button {
  float: left;
  background-color: $accent-color;
  font-size: 0.8rem;
  margin-top: 2rem;
  margin-left: 2rem;
  border-radius: 0.25rem;
  .drawer-item-menu {
    color: $grey2;
  }
  &:hover{
    .drawer-item-menu {
      color: white;
    }
  }

}

.new-drawer-text {
  padding-left: 0.5rem;
}

.drawers-sidebar {
  float: left;
  background-color: $grey2;
  font-size: 0.8rem;
  margin-top: 2rem;
  margin-left: 2rem;
  border-radius: 0.25rem;
}

.drawer-item-sidebar {
  padding: 0.2rem 0;
  .card {
    background-color: $grey2 !important;
    .card-header {
      padding: 0.75rem 0;
    }
    .card-body {
      padding: 0 !important;
    }
    .card-body:hover {
      background-color: $grey2 !important;
    }
    .btn-link {
      color: white;
      text-decoration: none;
    }
  }
}

.drawer-item-menu{
  padding: 0.5rem 0.2rem 0 0.8rem;
  .drawer-list-icon {
    opacity: 0.5;
  }
}

a.drawer-link-sidebar {
  color: white !important;
  text-decoration: inherit !important;
}

.drawer-item-sidebar.active,
.drawer-item-sidebar:hover {
  background-color: $grey3;
  &:first-child {
    border-radius: 0.25rem 0.25rem 0 0;
  }
  &:last-child {
    border-radius: 0 0.25rem 0.25rem;
  }
}

.new-drawer-item:hover {
  border-radius:  0.25rem !important;
}

.drawer-form {
  margin: 12px 0;
}

.card.drawer-list.new-drawer {
  border: none;
  background-color: $accent-color;
  border-radius: 0.25rem;
}

.card.drawer-index,
.detail-drawer  {
  padding: 2rem 0 1.5rem 0;
  margin: 0 1.5rem;
  border-bottom: 0.5px solid $border-light;
}

.drawer-list  {
  margin-top: 0.5rem;
}

.drawer-list a {
  color: inherit !important; /* blue colors for links too */
}

.drawer-link {
  padding: 0 12px ;
  color: $grey3;
}

.edit-drawer-icon,
.delete-drawer-icon {
  padding-right: 8px;
  color: $grey3;
  .octicon {
      fill: currentColor;
  }
  &:hover{
      color: $grey1;
  }
}

#collaborated-drawers-list {

  .rotated{
      transform: rotate(-180deg);
      transition: all 0.5s;
  }
}

.collaborated-drawer-icon {
  padding-right: 1rem;
}

.drawer-description {
  padding-top: 1rem;
}

.drawer-author,
.drawer-collaborators {
  a:hover {
    text-decoration: none;
  }
}
.creator-badge,
.collaborator-badge {
  color: $accent-color;
}
