// Place all the styles related to the drawers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.drawers-sidebar {
    float: left;
    background-color: #3F4448;
    font-size: 0.8rem;
    width: 25%;
    margin-top: 2rem;
    margin-left: 2rem;
    border-radius: 0.25rem;
}

.drawer-item-sidebar{
    padding: 0.2rem 0;
}

.drawer-item-menu{
    padding: 0.5rem 0.2rem 0 0.5rem;
}

a.drawer-link-sidebar {
    color: white !important;
    text-decoration: inherit !important;
}

.drawer-item-sidebar.active,
.drawer-item-sidebar:hover {
    background-color: #586069;
}

.drawer-form {
    margin: 12px 0;
}

.card.drawer-list.new-drawer {
  border: #dfdfdf 4px dashed;
  border-radius: 0.25rem;
}

.card.drawer-index,
.detail-drawer  {
    padding-top: 2rem;
}

.drawer-list  {
    margin-top: 0.5rem;
}

.drawer-list a {
    color: inherit !important; /* blue colors for links too */
}

.drawer-link {
    padding: 0 12px ;
    color: #586069;
}

.edit-drawer-icon,
.delete-drawer-icon {
    padding-right: 8px;
    color: #586069;
    .octicon {
        fill: currentColor;
    }
    &:hover{
        color: #24292e;
    }
}
