// Place all the styles related to the Friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.detail-favorites  {
    padding-top: 2rem;
    .card-body {
      display: flex;
      justify-content: space-between;
    }
}

.favorite-buttons {
  margin-right: 1rem;
}
