// Place all the styles related to the Friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.detail-friends  {
    padding-top: 2rem;
    .card-body {
      display: flex;
      justify-content: space-between;
    }
}

#search-friends-form {
    padding: 2rem 0;
}

.friend-followback-info {
    padding: 0 1rem;
}
