@import "settings";

body {
  padding-top: 4rem;
}

.logo {
  margin-right: 8px;
  fill: currentColor;
}

a.nav-link:hover {
  color: hsla(0,0%,100%,.7) !important;
}

.alert {
  margin: 2rem;
}

.octicon {
  fill: currentColor;
}

h1, .h1 {
  font-size: $font-h1;
}

h2, .h2 {
  font-size: $font-h2;
}

h3, .h3 {
  font-size: $font-h3;
}

h4, .h4 {
  font-size: $font-h4;
}

h5, .h5 {
  font-size: $font-h5;
}

h6, .h6 {
  font-size: $font-h6;
}

.container-fluid  {
    padding: 0 5px !important;
}

.search-form-wrapper {
  padding-right: 1rem;
  .search-field {
    width: 350px !important;
  }
}

.notifications-badge {
  position: absolute;
  right: 2.2rem;
  top: 1.5rem;
}

.nav-item {
  padding: 0 0.2rem;
}

@media only screen and (max-width: 768px) {
  html {
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
    position: relative;
  }
}
