// Settings

// Colors
$accent-color: #FFC104;
$grey1: #24292e;
$grey2: #3D4246;
$grey3: #586069;
$shadow1: #F6F8FA;
$shadow2: #dfdfdf;
$border-light: #dee2e6;
$success-background: #d4edda;
$alert-background: #fff3cd;
$danger-background: #f8d7da;


// Text-sizes
$font-base: 12px !important;
$font-p: 1em !important;
$font-h1: 2em !important;
$font-h2: 1.6em !important;
$font-h3: 1.4em !important;
$font-h4: 1.2em !important;
$font-h5: 1em !important;
$font-h6: 0.8em !important;
$font-small: 0.9rem !important;
