// // Colors
// $primary-color: #53d1ff !default;
// $secondary-color: #3f51b5 !default;
// $card-background-color: #e2e2e2;

// $blue-dark: #3f51b5;
// $blue-dark-transparent: rgba(63, 81, 181, 0.95);
// $red-dark: #b71c1c;

// // Measures
// $xs-measure: 1em;
// $sm-measure: 1.5em;
// $md-measure: 2em;
// $lg-measure: 4rem;


// $header-height: $lg-measure;

//Text-sizes
$font-base: 12px !important;
$font-p: 1em !important;
$font-h1: 2em !important;
$font-h2: 1.6em !important;
$font-h3: 1.4em !important;
$font-h4: 1.2em !important;
$font-h5: 1em !important;
$font-h6: 0.8em !important;
$font-small: 0.9rem !important;

$opacity-hover: .8;
